version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    container_name: connectify-backend

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:5000/api
        VITE_SOCKET_URL: http://localhost:5000
    ports:
      - "5173:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    container_name: connectify-frontend
